/**
* Prestashop Advanced Sitemap
*
*  @author Yriase <postmaster@yriase.fr>
*  @version  1.4.5.2
*
* THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH REGARD TO THIS SOFTWARE 
* INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR 
* BE LIABLE FOR ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER 
* RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER 
* TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
*
*/

#gadv_main_title { background: url('../modules/gadvsitemap/logo.png') top left no-repeat; text-indent: 36px; font-size: 2em; }

.gadv_right { float: right; margin: 1em 1em 0 0; }

.gadv_align_right { text-align: right; }

.gadv_bloc { background-color: rgb(235, 237, 244); border: 1px solid rgb(204, 206, 215); padding: 1em; }

.gadv_red { color: red }

.gadv_lang_checkbox { margin:0 0 20px 0; }
.gadv_lang_checkbox img { margin-right: 5px }